/*TEMA DE ANGULAR: Descomentar el tema que queramos usar*/
/*1. deeppurple-amber.css*/
/*@import '@angular/material/prebuilt-themes/deeppurple-amber.css';*/

/*2. indigo-pink.css*/
@import '@angular/material/prebuilt-themes/indigo-pink.css'; 

/*3. pink-bluegrey.css*/
/*@import '@angular/material/prebuilt-themes/pink-bluegrey.css'; */

/*4. purple-green.css*/
/*@import '@angular/material/prebuilt-themes/purple-green.css'; */

/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.card-container {
  width: 100%;
  max-width: 100%;
  padding: 30px;
  border: 1px solid transparent;
  margin: 0 auto;
}

.card {
  padding: 30px;
  border: 1px solid transparent;
  background-color: #fff;
}

/* =============== Globals ============== */
* {
  /*  font-family: "Ubuntu", sans-serif;*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

/* ============================= */