mat-toolbar {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

mat-icon {
  font-size: 1.7rem;
  text-align: center;
  margin: 2px;
}

.profile-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 8px;
  color: #000000;

  span {
    font-size: 1rem;
  }
}

.button-inicio {
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    margin: 5px;
    padding-top: 5px;
    color: #c2c2c2;
    font-size: 1rem;
  }

  mat-icon {
    color: #c2c2c2;
  }

  .route {
    color: #2b2b2b;
    font-size: 1rem;
    font-weight: normal;
    margin-left: 5px;
  }
}

.dropdown-menu {
  position: absolute;
  top: 65px;
  right: 16px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 10px;
  display: block;
  z-index: 1000;
  color: #2b2b2b;
  font-size: 1rem;

  mat-icon {
    font-size: 1rem;
  }
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 8px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-menu li mat-icon {
  margin-right: 8px;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

.route-segments {
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: #2b2b2b;

  .route-segment {
    display: flex;
    align-items: center;

    mat-icon {
      font-size: 1.2rem;
      margin: 2px;
      color: #2b2b2b;
      display: flex;
      align-items: center;
    }

    span {
      font-size: 1rem;
      color: #2b2b2b;
      margin: 1px;
      padding-top: 5px;
    }
  }

  .separator {
    margin: 0 1px;
    color: #c2c2c2;
    font-size: 1rem;
  }
}

.route-segment.clickable:hover {
  cursor: pointer;
}

.home:hover {
  cursor: pointer;
}