<!--<mat-toolbar class="mat-elevation-z3 toolbar">
  <div class="button-inicio">
    <div class="route-segments">
      <ng-container *ngFor="let segment of routeSegments; let last = last">
        <span class="route-segment" [class.clickable]="segment.route" (click)="navigateToRoute(segment.route)">
          <mat-icon *ngIf="segment.icon">{{segment.icon}}</mat-icon>
          <span>{{segment.text}}</span>
        </span>
        <span *ngIf="!last" class="separator">/</span>
      </ng-container>
    </div>
  </div>

  <div class="profile-info">
    <span>{{fullName}}</span>
    <mat-icon>person</mat-icon>
  </div>
</mat-toolbar>-->



 <!-- Header -->
 <header
 class="relative h-16 m-1 px-6 bg-white flex items-center text-black justify-between shadow-xl border-b-2 border-bansi-gris rounded-lg">
 <div></div>
 <!-- Título centrado absolutamente -->
 <span class="position-absolute start-50 translate-middle-x text-lg">
     <!--{{ segment.route }}-->
 </span>

 <!-- Usuario a la derecha -->
 <div class="flex items-center gap-2 ml-auto">
     <img src="assets/icons/solid/user.svg" alt="Usuario" class="h-8 w-8 text-bansi-gris-oscuro" />
     <span class="fw-medium">{{fullName}}</span>
 </div>
</header>