<div class="d-flex justify-content-center align-items-center gap-2 mt-3">
    @if (modoExtendido) {
    <button class="btn btn-outline-secondary btn-sm" (click)="cambiarPagina(1)" [disabled]="paginaActual === 1">
        &laquo;
    </button>
    }
    <button class="btn btn-outline-primary btn-sm" (click)="cambiarPagina(paginaActual - 1)"
        [disabled]="paginaActual === 1">
        Anterior
    </button>

    <span class="mx-2 small">
        Página {{ paginaActual }} de {{ totalPaginas }}
    </span>

    <button class="btn btn-outline-primary btn-sm" (click)="cambiarPagina(paginaActual + 1)"
        [disabled]="paginaActual === totalPaginas">
        Siguiente
    </button>

    @if (modoExtendido) {
    <button class="btn btn-outline-secondary btn-sm" (click)="cambiarPagina(totalPaginas)"
        [disabled]="paginaActual === totalPaginas">
        &raquo;
    </button>

    <select class="form-select form-select-sm ms-2" (change)="cambiarItemsPorPagina($event)" [value]="itemsPorPagina"
        style="width: auto;">
        @for (n of opcionesPorPagina; track n) {
        <option [value]="n">{{ n }} por página</option>
        }
    </select>
    }
</div>