<div class="flex h-screen overflow-hidden bg-background">
  <app-sidenav-component [style.width]="sidenavWidth()" [collapsed]="collapsed()"
    (toggleSidenav)="toggleSidenav()"></app-sidenav-component>
  <div class="flex flex-col flex-1">
    <app-toolbar-component (toggleSidenav)="toggleSidenav()"></app-toolbar-component>
    <!-- Router View -->
    <main class="flex-1 router-view">
      <router-outlet></router-outlet>
    </main>
    <div class="barra-fondo-botones">
      <!-- Este div no lleva botones, pero le da altura y fondo -->
    </div>
    <app-footer-component></app-footer-component>
  </div>
</div>