table {
  width: 100%;
}

th.mat-header-cell,
td.mat-cell {
  text-align: center;
  border: 1px solid #ccc;
  padding: 0 !important;
}

.similar-cell-width {
  min-width: 100px;
  max-width: 100px;
}

.example-container {
  height: 400px;
  overflow: auto;
}
