<!-- HTML -->
<div class="d-flex flex-column align-items-center justify-content-center text-center px-3 min-vh-custom">
    <!-- Logo -->
    <img src="assets/logo.png" alt="Logo BANSI" class="logo-size mb-4" />

    <!-- Código 404 -->
    <h1 class="display-1 fw-bold text-bansi-azul">404</h1>

    <!-- Mensaje -->
    <p class="text-secondary mt-3 fs-5">La página que buscas no existe o fue movida.</p>

    <!-- Botón de regreso -->
    <button (click)="goHome()" class="btn btn-bansi mt-4 px-4 py-2 fs-sm">
        Regresar al inicio
    </button>
</div>