<div class="card-container">
  <div class="card">

    <div>
      <span>Slider 1: </span><b class="gridSizeValue">{{slider1}}</b>
    </div>
    <mat-slider min="1" max="200" step="1" (change)="cambiar()">
      <input matSliderThumb [(ngModel)]="slider1">
    </mat-slider>

    <div>
      <span>Slider 2: </span><b class="gridSizeValue">{{slider2}}</b>
    </div>
    <mat-slider min="1" max="200" step="1" (change)="cambiar()">
      <input matSliderThumb [(ngModel)]="slider2">
    </mat-slider>

    <div>
      <span>Slider 3: </span><b class="gridSizeValue">{{slider3}}</b>
    </div>
    <mat-slider min="1" max="200" step="1" (change)="cambiar()">
      <input matSliderThumb [(ngModel)]="slider3">
    </mat-slider>

    La suma de los tres slider:{{suma}}
  </div>
</div>