<mat-toolbar color="primary" class="example-header">
  <mat-toolbar-row>
    <button mat-button class="toggle" (click)="opened=!opened"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Angular Material</h1>
  </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav opened="true" mode="side" class="example-sidenav" (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()">
    <mat-nav-list class="ul active">

      <mat-expansion-panel [class.mat-elevation-z0]="true" class="parent full-width" *ngIf="opened || isShowing">
        <mat-expansion-panel-header>
          <mat-icon mat-list-icon>trip_origin</mat-icon>
          <span>ANGULAR MATERIAL</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/botones"><mat-icon>trip_origin</mat-icon><span>Botones</span></a>
          <a mat-list-item routerLink="/formularios-input"><mat-icon>trip_origin</mat-icon><span>Formularios (input)</span></a>
          <a mat-list-item routerLink="/mat-radio-button-y-mat-radio-group"><mat-icon>trip_origin</mat-icon><span>Formularios: selectores mat-radio-button<br>y mat-radio-group</span></a>
          <a mat-list-item routerLink="/mat-checkbox"><mat-icon>trip_origin</mat-icon><span>Formularios: selectores mat-checkbox</span></a>
          <a mat-list-item routerLink="/mat-select"><mat-icon>trip_origin</mat-icon><span>Formularios: selector mat-select</span></a>
          <a mat-list-item routerLink="/mat-slider"><mat-icon>trip_origin</mat-icon><span>Formularios: mat-slider</span></a>
          <a mat-list-item routerLink="/mat-slide-toggle"><mat-icon>trip_origin</mat-icon><span>Formularios: mat-slider-toggle</span></a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-list-item class="parent">
        <mat-icon class="pink-icon" mat-list-icon>trip_origin</mat-icon>
        <span class="full-width" *ngIf="opened || isShowing"> <a routerLink="/mat-table">&nbsp;&nbsp; mat-table
          </a></span>
      </mat-list-item>

      <mat-list-item class="parent">
        <mat-icon class="pink-icon" mat-list-icon>trip_origin</mat-icon>
        <span class="full-width" *ngIf="opened || isShowing"> <a routerLink="/mat-table-y-mat-paginatior">&nbsp;&nbsp;
            mat-table y mat-paginatior </a></span>
      </mat-list-item>

      <mat-list-item class="parent">
        <mat-icon class="pink-icon" mat-list-icon>trip_origin</mat-icon>
        <span class="full-width" *ngIf="opened || isShowing"> <a routerLink="/mat-table-y-mat-sort">&nbsp;&nbsp;
            mat-table y mat-sort </a></span>
      </mat-list-item>



      <mat-list-item class="parent">
        <mat-icon class="pink-icon" mat-list-icon>trip_origin</mat-icon>
        <span class="full-width" *ngIf="opened || isShowing"> <a routerLink="/layout-tabs">&nbsp;&nbsp;Layout - tabs
          </a></span>
      </mat-list-item>

      <mat-list-item class="parent">
        <mat-icon class="pink-icon" mat-list-icon>trip_origin</mat-icon>
        <span class="full-width" *ngIf="opened || isShowing"> <a
            routerLink="/formularios-selectores">&nbsp;&nbsp;Formularios - selectores </a></span>
      </mat-list-item>






      <mat-list-item class="parent">
        <mat-icon class="pink-icon" mat-list-icon>favorite</mat-icon>
        <span class="full-width" *ngIf="opened || isShowing"> <a routerLink="/logo">&nbsp;&nbsp;Logo </a></span>
      </mat-list-item>



    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet>
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


<mat-toolbar color="primary" class="example-footer">Develop by AstridGigles - Current build:
  1.0.0-rc.3-05d726d</mat-toolbar>

<!--
<mat-sidenav-container>
  <mat-sidenav #drawer  fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list class="navigation">
      <a mat-list-item routerLink="/botones">
        <mat-icon  class="icon">check_circle</mat-icon>  <span class="title">&nbsp;&nbsp;&nbsp;Botones</span>
      </a>
      <a mat-list-item routerLink="/logo">
        <mat-icon  class="icon">check_circle</mat-icon>  <span class="title">&nbsp;&nbsp;&nbsp;Logo</span>

        </a>
      <a mat-list-item routerLink="/pais3">
        <mat-icon  class="icon">check_circle</mat-icon>  <span class="title">&nbsp;&nbsp;&nbsp;Uruguay</span>

        </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="">
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Componentes de angular</span>
    </mat-toolbar>
    <!-- Add Content Here -->
<!-- <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>-->
<!--
<div>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="'navigation'" [mode]="'side'">
      <mat-toolbar color="primary">Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item>Home</a>
        <a mat-list-item>Account</a>
        <a mat-list-item>Sign Out</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <span>Sample Application</span>
          <span class="spacer"></span>
          <mat-icon>favorite</mat-icon>
          <mat-icon>delete</mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-toolbar color="accent">
        <mat-toolbar-row>
          <span>Status</span>
          <span class="spacer"></span>
          <mat-icon>home</mat-icon>
          <mat-icon matBadge="22" matBadgePosition="above after">email</mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="body">
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              <span matTooltip="Example of controls in use">
                Controls
              </span>
            </ng-template>
            <app-preview-controls></app-preview-controls>
          </mat-tab>
          <mat-tab aria-label="Containers">
            <ng-template mat-tab-label>
              <span matTooltip="General containers, like tables/dialogs">Containers</span>
            </ng-template>
            <app-preview-containers *ngIf="activeTab === 'Containers'">
            </app-preview-containers>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span matTooltip="Preview of typography">
                Typography
              </span>
            </ng-template>
            <app-preview-typography></app-preview-typography>
          </mat-tab>
          <mat-tab aria-label="General Layout">
            <ng-template mat-tab-label>
              <span matTooltip="General Layout">General Layout</span>
            </ng-template>

          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
-->