<!-- Contenedor general del carrusel -->
<div class="carrusel-container position-relative p-0 rounded">
    <!-- Título con franja gris -->
    <div class="carrusel-titulo px-4 py-2">
        <h2 class="m-0 text-center text-bansi-azul-oscuro fw-bold">{{ titulo }}</h2>
    </div>

    <!-- Contenido central con margen horizontal para no pisar las flechas -->
    <div class="carrusel-slide-container position-relative px-5 py-4">
        <div class="carrusel-slide">
            <!-- Aunque estámos usando Angular 18 con control flow, el uso de *ngIf es necesario par el contenido proyectado como TemplateRef.-->
            <ng-container *ngFor="let item of items; let i = index">
                <ng-container *ngIf="i === indiceActual">
                    <ng-container *ngTemplateOutlet="item"></ng-container>
                </ng-container>
            </ng-container>
        </div>

        <!-- Flechas de navegación -->
        <button class="btn btn-outline-primary h-25 position-absolute top-50 start-0 translate-middle-y"
            (click)="anterior()" [disabled]="indiceActual === 0">
            ◀
        </button>

        <button class="btn btn-outline-primary h-25 position-absolute top-50 end-0 translate-middle-y"
            (click)="siguiente()" [disabled]="indiceActual === items.length - 1">
            ▶
        </button>
    </div>

    <!-- Paginación por fuera del contenedor principal -->
    <div class="text-center mt-3">
        Paso {{ indiceActual + 1 }} de {{ items.length }}
    </div>
</div>