<!-- Mostrar spinner mientras carga informacion -->
<app-bsi-spinner *ngIf="spinnerService.isLoading$ | async" [isVisible]="true"></app-bsi-spinner>
<div class="content-container">
  <div class="flex-panel">

    <br>
    <div class="row justify-content-md-center col-md-12 panel-titulo">
      <div class="row">
        <header class="header-encabezado">Consulta de Solicitudes - Cambio de Cuentas de Cheques</header>
      </div>
    </div>

    <br>
    <app-buscar-cambio-cuenta-form (consultaSolicitudesEnvio)="MostrarSolicitudes($event)"
      (recalcularPaginado)="RecalcularPaginado()"></app-buscar-cambio-cuenta-form>

      <div class="report-container">
        @if(dataSource.filteredData.length > 0){
          <div class="additional-actions">
            <button class="container-btn-export-excel" (click)="exportarExcel()" matTooltip="Exportar excel">
              <svg fill="#fff" xmlns="" width="20" height="20" viewBox="0 0 50 50">
                <path d="M28.8125 .03125L.8125 5.34375C.339844 5.433594 0 5.863281 0 6.34375L0 43.65625C0 44.136719 .339844 44.566406 .8125 44.65625L28.8125 49.96875C28.875 49.980469 28.9375 50 29 50C29.230469
                  50 29.445313 49.929688 29.625 49.78125C29.855469 49.589844 30 49.296875 30 49L30 1C30 .703125 29.855469 .410156 29.625 .21875C29.394531 .0273438 29.105469 -.0234375 28.8125 .03125ZM32
                  6L32 13L34 13L34 15L32 15L32 20L34 20L34 22L32 22L32 27L34 27L34 29L32 29L32 35L34 35L34 37L32 37L32 44L47 44C48.101563 44 49 43.101563 49 42L49 8C49 6.898438 48.101563 6 47 6ZM36 13L44
                  13L44 15L36 15ZM6.6875 15.6875L11.8125 15.6875L14.5 21.28125C14.710938 21.722656 14.898438 22.265625 15.0625 22.875L15.09375 22.875C15.199219 22.511719 15.402344 21.941406 15.6875 21.21875L18.65625 15.6875L23.34375
                  15.6875L17.75 24.9375L23.5 34.375L18.53125 34.375L15.28125 28.28125C15.160156 28.054688 15.035156 27.636719 14.90625 27.03125L14.875 27.03125C14.8125 27.316406 14.664063 27.761719
                  14.4375 28.34375L11.1875 34.375L6.1875 34.375L12.15625 25.03125ZM36 20L44 20L44 22L36 22ZM36 27L44 27L44 29L36 29ZM36 35L44 35L44 37L36 37Z"></path>
              </svg>
            </button>
          </div>
        }
      </div>
    <div class="table-container row">
      <table mat-table [dataSource]="dataSource" matSort class="compact-table">

        <!-- Detalle Column -->
        <ng-container matColumnDef="detalle">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-column">Detalle</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="DetalleSolicitud(element)" matTooltip="Detalle solicitud">
              <mat-icon class="mat-18">reorder</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- numeroSolicitud Column -->
        <ng-container matColumnDef="numeroSolicitud">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-column">Número de Solicitud </th>
          <td mat-cell *matCellDef="let element">{{element.idSolicitud}} </td>
        </ng-container>

        <!-- fechaSolicitud Column -->
        <ng-container matColumnDef="fechaSolicitud">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-column">Fecha de Solicitud </th>
          <td mat-cell *matCellDef="let element">{{element.fechaSolicitud | date:'dd-MM-YYY'}} </td>
        </ng-container>

        <!-- estatusSolicitud Column -->
        <ng-container matColumnDef="estatusSolicitud">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-column">Estatus de la Solicitud</th>
          <td mat-cell *matCellDef="let element">{{element.descripcionStatus}} </td>
        </ng-container>

        <!-- numeroCredito Column -->
        <ng-container matColumnDef="numeroCredito">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-column">Número de Crédito</th>
          <td mat-cell *matCellDef="let element">{{element.numeroCredito}} </td>
        </ng-container>

        <!-- productoCredito Column -->
        <ng-container matColumnDef="productoCredito">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-column">Producto del Crédito</th>
          <td mat-cell *matCellDef="let element">{{element.productoCredito}} {{element.descripcionProducto}}</td>
        </ng-container>

        <!-- cliente Column -->
        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-column">Cliente</th>
          <td mat-cell *matCellDef="let element">{{element.numeroCliente}} {{element.nombreCliente}} </td>
        </ng-container>

        <!-- estatusCredito Column -->
        <ng-container matColumnDef="estatusCredito">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-column">
            Estatus del Crédito </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.statusCredito == 'AA'">Vigente</span>
            <span *ngIf="element.statusCredito == 'BA'">Vencido</span>
            <span *ngIf="element.statusCredito == 'FF'">Cancelado</span>
          </td>
        </ng-container>

        <!-- divisa Column -->
        <ng-container matColumnDef="divisa">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-column"> Divisa</th>
          <td mat-cell *matCellDef="let element"> {{element.codDivisa}}{{element.divisa}}</td>
        </ng-container>

        <!-- ejecutivo Column -->
        <ng-container matColumnDef="ejecutivo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-column">Ejecutivo </th>
          <td mat-cell *matCellDef="let element">{{element.codigoEjecutivo}} {{element.ejecutivo}}</td>
        </ng-container>

        <!-- sucursal Column -->
        <ng-container matColumnDef="sucursal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-column">Sucursal </th>
          <td mat-cell *matCellDef="let element">{{element.codigoSucursal}} {{element.sucursal}}</td>
        </ng-container>

        <!-- usuarioSolicita Column -->
        <ng-container matColumnDef="usuarioSolicita">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-column">Usuario Solicitante </th>
          <td mat-cell *matCellDef="let element">{{element.usuarioSolicita}} </td>
        </ng-container>

         <!-- usuarioAutoriza Column -->
         <ng-container matColumnDef="usuarioAutoriza">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-column">Usuario Autorizador </th>
          <td mat-cell *matCellDef="let element">{{element.usuarioAutoriza}} </td>
        </ng-container>

         <!-- fechaAutorizacion Column -->
         <ng-container matColumnDef="fechaAutorizacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-column">Fecha Autorización </th>
          <td mat-cell *matCellDef="let element">{{element.fechaAutorizacion | date:'dd-MM-YYY'}} </td>
        </ng-container>

        <!-- comentario Column -->
        <ng-container matColumnDef="comentario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-column">Comentario </th>
          <td mat-cell *matCellDef="let element">{{element.comentarios}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    </div>
    <div class="custom-paginator">
      <mat-paginator [length]="totalElements" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="currentPage" showFirstLastButtons aria-label="Select page" (page)="OnPageChange($event)"
        class="accent-paginator">
      </mat-paginator>

      <div class="page-numbers">
        <button *ngFor="let page of pages" [class.active]="page === currentPage" (click)="GoToPage(page)"
          class="page-number-btn">
          {{ page + 1 }}
        </button>
      </div>
      <div class="elements-page" *ngIf="!elementosPagina">
        <span>Elementos por página</span>
      </div>
    </div>
  </div>
</div>