<div class="card-container">
  <div class="card">
    <h3>Pase el mouse sobre el texto para convertirlo a voz</h3>
    <br>
    <p>Como se pronuncia la palabra: <span appTextovoz>casa</span></p>
    <p>Como se pronuncia la palabra: <span appTextovoz>ventana</span></p>
    <p>Como se pronuncia la oración:</p>
    <pre appTextovoz>
    Aquí me pongo a cantar
    al compás de la vihuela
    que el hombre que lo desvela
    una pena extraordinaria
    como el ave solitaria
    con el cantar se consuela
  </pre>
  </div>
</div>