<mat-toolbar color="primary" class="example-header">
  <mat-toolbar-row>
    <button mat-button class="toggle" (click)="opened = !opened">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Angular Material</h1>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav opened="true" mode="side" class="example-sidenav" (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()">
    <mat-nav-list class="ul active">

      <mat-expansion-panel [class.mat-elevation-z0]="true" class="parent full-width"
        *ngIf="opened || isShowing ; else ocultarMenu_1">
        <mat-expansion-panel-header>
          <mat-icon class="pink-icon" mat-list-icon>class</mat-icon>
          <span>ANGULAR MATERIAL</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/botones"><mat-icon>arrow_right_alt</mat-icon><span>Botones</span></a>
          <a mat-list-item routerLink="/formularios-input"><mat-icon>arrow_right_alt</mat-icon><span>Formularios
              (input)</span></a>
          <a mat-list-item
            routerLink="/mat-radio-button-y-mat-radio-group"><mat-icon>arrow_right_alt</mat-icon><span>Formularios:
              selectores mat-radio-button<br />y
              mat-radio-group</span></a>
          <a mat-list-item routerLink="/mat-checkbox"><mat-icon>arrow_right_alt</mat-icon><span>Formularios: selectores
              mat-checkbox</span></a>
          <a mat-list-item routerLink="/mat-select"><mat-icon>arrow_right_alt</mat-icon><span>Formularios: selector
              mat-select</span></a>
          <a mat-list-item routerLink="/mat-slider"><mat-icon>arrow_right_alt</mat-icon><span>Formularios:
              mat-slider</span></a>
          <a mat-list-item routerLink="/mat-slide-toggle"><mat-icon>arrow_right_alt</mat-icon><span>Formularios:
              mat-slider-toggle</span></a>
          <a mat-list-item routerLink="/layout-tabs"><mat-icon>arrow_right_alt</mat-icon><span>layout-tabs</span></a>
          <a mat-list-item routerLink="/mat-table"><mat-icon>arrow_right_alt</mat-icon><span>Tablas:
              mat-table</span></a>
          <a mat-list-item routerLink="/mat-table-y-mat-paginatior"><mat-icon>arrow_right_alt</mat-icon><span>Tablas:
              mat-table y mat-paginatior</span></a>
          <a mat-list-item routerLink="/mat-table-y-mat-sort"><mat-icon>arrow_right_alt</mat-icon><span>Tablas:
              mat-table y
              mat-sort</span></a>
          <a mat-list-item routerLink="/mat-table-y-filtrar-datos"><mat-icon>arrow_right_alt</mat-icon><span>Tablas:
              mat-table y filtrar datos</span></a>
          <a mat-list-item routerLink="/mat-dialog"><mat-icon>arrow_right_alt</mat-icon><span>Diálogos:
              mat-dialog</span></a>
          <a mat-list-item routerLink="/mat-menu"><mat-icon>arrow_right_alt</mat-icon><span>Menu: mat-menu</span></a>
          <a mat-list-item routerLink="/mat-menu-anidado"><mat-icon>arrow_right_alt</mat-icon><span>Menu: mat-menu
              anidados</span></a>
          <a mat-list-item routerLink="/mat-card"><mat-icon>arrow_right_alt</mat-icon><span>Menu: mat-card</span></a>
          <a mat-list-item routerLink="/mat-toolbar"><mat-icon>arrow_right_alt</mat-icon><span>Menu:
              mat-toolbar</span></a>
          <a mat-list-item routerLink="/mat-expansion-panel"><mat-icon>arrow_right_alt</mat-icon><span>Panel:
              mat-expansion-panel</span></a>
        </mat-nav-list>
      </mat-expansion-panel>
      <ng-template #ocultarMenu_1>
        <diV class="pink-icon-hide">
          <mat-icon class="pink-icon" mat-list-icon>class</mat-icon>
        </diV>
      </ng-template>

      <mat-expansion-panel [class.mat-elevation-z0]="true" class="parent full-width"
        *ngIf="opened || isShowing ; else ocultarMenu_2">
        <mat-expansion-panel-header>
          <mat-icon class="pink-icon" mat-list-icon>description</mat-icon>
          <span>FORMULARIOS REACTIVOS</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item
            routerLink="/reactive-forms-module-y-form-control"><mat-icon>arrow_right_alt</mat-icon><span>ReactiveFormsModule, FormControl</span></a>
              <a mat-list-item
              routerLink="/form-group"><mat-icon>arrow_right_alt</mat-icon><span>FormGroup</span></a>
        </mat-nav-list>
      </mat-expansion-panel>
      <ng-template #ocultarMenu_2>
        <diV class="pink-icon-hide">
          <mat-icon class="pink-icon" mat-list-icon>description</mat-icon>
        </diV>
      </ng-template>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar color="primary" class="example-footer">Develop by AstridGigles - Current
  build:1.0.0</mat-toolbar>