
textarea {
  resize: none;
}
.error-text {
    color: #c41313;
}

.login-form-container {
    background-color: #ffffff;
    padding: 20px;
    width: 380px;
}

.blue-button {
    background-color: #003386; /*Color de fondo*/
    color: #ffffff;
}

.confirm-button:hover {
    background-color: #022c7b; /* Color al pasar efl cursor */
}

/* Boton deshabilitado */
.confirm-button:disabled {
    background-color: #ccc; /* Gris claro */
    color: #666; /* Texto gris */
    cursor: not-allowed; /* Indica que no es clickeable */
}

.confirm-button {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px; /*Opcional: redondear esquinas*/
    height: 50px;
    width: 100%;
    background-color: #003386;
    font-size: medium;
}

mat-form-field {
    margin-bottom: 0.75rem;
    font-size: 14px;
}

.confirm-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

.image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #fee2e2;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
}

.image svg {
    color: #dc2626;
    width: 2rem;
    height: 2rem;
}


.content {
    margin-top: 0.75rem;
    text-align: center;
}

.title {
    color: #111827;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.message {
    margin-top: 0.5rem;
    color: #6b7280;
    font-size: 1rem;
    line-height: 1.25rem;
}

.modal-header {
  background: linear-gradient(205deg, rgba(34,42,61,1) 0%, rgba(33,103,178,1) 100%);
  color: white !important;
  font-weight: bold !important;
  font-size: 1.6em !important;
  display: flex !important;
  justify-content: center !important;
}