<app-bsi-spinner *ngIf="spinnerService.isLoading$ | async" [isVisible]="true"></app-bsi-spinner>
<div class="modal-header">
  <div class="position-relative w-100">
    <p class="text-center">Modificación Cuenta Cheques - Selección de Créditos</p>
    <button type="button" class="btn-close btn-close-white position-absolute top-0 end-0" aria-label="Close"
      (click)="onClose()"></button>
  </div>
</div>
<div class="modal-body" style="min-height: 60vh; max-height: 60vh">
  <div>
    <app-tabla-component [data]="creditosMostrados" [pageSize]="25" [showActionButtons]="false" [columnConfig]="columnConfig"
      [customClass]="'table table-hover'" (rowSelected)="onRowSelected($event)" [elementosPagina]="true">
    </app-tabla-component>
  </div>
</div>
<div class="modal-footer">
  <!-- Botón Cerrar -->
  <button mat-button class="action-btn-cancel" (click)="onClose()">
    <mat-icon color="warn">cancel</mat-icon>
    <span>Cancelar</span>
  </button>
  <!-- Botón Seleccionar cliente -->
  <button mat-button class="action-btn-save" (click)="cerrarSeleccionCliente()"
    [disabled]="!selectedRow || selectedRow === undefined">
    <mat-icon color="#003386">check</mat-icon>
    <span>Seleccionar</span>
  </button>
  <div class="text-end mt-2"></div>
</div>